extends layout

block content
    section
        h2 Наша команда
        p Ми — це креативна група студентів, які працюють над різними проектами.
        img(src="" alt="Фото команди")
        p Для детальної інформації про кожного члена команди перейдіть до відповідних сторінок.