doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet" href="/style.css")
    body
        header
            h1 Вітаємо на сайті нашої бригади!
            nav
                ul
                    li
                        a(href="/about.html") Про нас 
                    li
                        a(href="/student/1") Про Олега
                    li
                        a(href="/student/2") Про Микиту 
                    li
                        a(href="/student/3") Про Катерину 
                    li
                        a(href="/") Головна 
        block content
        footer
            p Перегляньте наш
                a(href="https://github.com/OlehLC/IS-31Node.js" target="_blank") GitHub